## Clock signal
NET "clk"	LOC = "E3" | IOSTANDARD = "LVCMOS33"; #Bank =35, Pin name = #IO_L12P_T1_MRCC_35, Sch name = clk100mhz
NET "rst" LOC=M17 | IOSTANDARD=LVCMOS33; #IO_L10N_T1_D15_14

NET "CPCLK" CLOCK_DEDICATED_ROUTE = FALSE; 

##VGA Connector
NET "VGA_R[0]" LOC=A3 | IOSTANDARD=LVCMOS33; #IO_L8N_T1_AD14N_35
NET "VGA_R[1]" LOC=B4 | IOSTANDARD=LVCMOS33; #IO_L7N_T1_AD6N_35
NET "VGA_R[2]" LOC=C5 | IOSTANDARD=LVCMOS33; #IO_L1N_T0_AD4N_35
NET "VGA_R[3]" LOC=A4 | IOSTANDARD=LVCMOS33; #IO_L8P_T1_AD14P_35
NET "VGA_G[0]" LOC=C6 | IOSTANDARD=LVCMOS33; #IO_L1P_T0_AD4P_35
NET "VGA_G[1]" LOC=A5 | IOSTANDARD=LVCMOS33; #IO_L3N_T0_DQS_AD5N_35
NET "VGA_G[2]" LOC=B6 | IOSTANDARD=LVCMOS33; #IO_L2N_T0_AD12N_35
NET "VGA_G[3]" LOC=A6 | IOSTANDARD=LVCMOS33; #IO_L3P_T0_DQS_AD5P_35
NET "VGA_B[0]" LOC=B7 | IOSTANDARD=LVCMOS33; #IO_L2P_T0_AD12P_35
NET "VGA_B[1]" LOC=C7 | IOSTANDARD=LVCMOS33; #IO_L4N_T0_35
NET "VGA_B[2]" LOC=D7 | IOSTANDARD=LVCMOS33; #IO_L6N_T0_VREF_35
NET "VGA_B[3]" LOC=D8 | IOSTANDARD=LVCMOS33; #IO_L4P_T0_35
NET "VGA_Hsync_n" LOC=B11 | IOSTANDARD=LVCMOS33; #IO_L4P_T0_15
NET "VGA_Vsync_n" LOC=B12 | IOSTANDARD=LVCMOS33; #IO_L3N_T0_DQS_AD1N_15

## Pmod Header JC
NET "Cxclk" LOC=G6 | IOSTANDARD=LVCMOS33; #IO_L19P_T3_35
NET "Cpwdn" LOC=E7 | IOSTANDARD=LVCMOS33; #IO_L6P_T0_35
NET "Creset" LOC=J3 | IOSTANDARD=LVCMOS33; #IO_L22P_T3_35 

## Pmod Header JD
NET "CPCLK"  LOC=H4 | IOSTANDARD=LVCMOS33;
NET "CHREF"  LOC=H1 | IOSTANDARD=LVCMOS33; #IO_L17P_T2_35
NET "CVSYNC" LOC=G1 | IOSTANDARD=LVCMOS33; #IO_L17N_T2_35
NET "CDATA0"    LOC=G3 | IOSTANDARD=LVCMOS33; #IO_L20N_T3_35
NET "CDATA1"    LOC=H2 | IOSTANDARD=LVCMOS33; #IO_L15P_T2_DQS_35
NET "CDATA2"    LOC=G4 | IOSTANDARD=LVCMOS33; #IO_L20P_T3_35
NET "CDATA3"    LOC=G2 | IOSTANDARD=LVCMOS33; #IO_L15N_T2_DQS_35
NET "CDATA4"    LOC=F3 | IOSTANDARD=LVCMOS33; #IO_L13N_T2_MRCC_35

## Pmod Header JC
NET "CDATA5" LOC=K1 | IOSTANDARD=LVCMOS33; #IO_L23N_T3_35
NET "CDATA6" LOC=F6 | IOSTANDARD=LVCMOS33; #IO_L19N_T3_VREF_35
NET "CDATA7" LOC=J2 | IOSTANDARD=LVCMOS33; #IO_L22N_T3_35